@use './../utils/color' as *;
@use './../utils/unit' as *;

@mixin gray300_button {
  border: none;
  background: none;
  outline: none;
  box-shadow: none;
  line-height: 160%;
  color: $light-gray;
}

@mixin dropdownButton {
  background: transparent;
  background-image: url(./../images/Icon/badge_arrowdown.png);
  width: rem(18px);
  height: rem(18px);
  background-repeat: no-repeat;
  padding: 0;
}

@mixin checkbox {
  input[type="radio"] {
    display: none; /* 기본 radio 버튼 감추기 */
  }
  label {
    display: inline-block; /* 이미지와 인라인으로 정렬 */
    cursor: pointer;
  }
}