// form.scss
@use './../utils' as *; //rem 함수를 사용하려고 유틸을 use 해준것.
.formInput {
  &__input {
    appearance: none;
    display: block;
    // padding: 0 rem(16px);
    width: 100%;
    padding: rem(8px);
    border-radius: rem(4px);
    border: 1px solid $gray;
    background: $white;
    font-size: rem(14px);
  }
}
