//  기본 색상 --------------------------------------------------------- /
$white: #ffffff;
$black: #101010;
$purple: #5f0080;
$light-yellow: #ffc;
$yellow: #e8ca58;
$gray: #898989;
$silver: #999;

// 콘텐츠 별 색상 변수
$base-bg: $white; // body 기본 배경 색상
$base-text: #333333; // body 기본 글자 색상

$primary-color: #5f0080;
$secondary-color: #bd76ff;

// $accent-color: $light-yellow;
// $accent-opacity-color: rgba($khaki, 0.85);
// $accent-book: $green; // 추천서적
// $accent-news: $yellow; // 새소식
// $accent-board: $brown; // 게시판
// $accent-favorite: $orange; // 인기사이트
// $accent-twitter: $blue; // 트위터
// $shadow-color: $black; // 그림자 색상
// $border-color: $gray; // border 색상
