@use './../utils' as *;
@use './../components' as *;

//input type="checkbox"
input[type='checkbox'] {
  display: none;
}

input[type='checkbox'] + label.cartCheckbox {
  cursor: pointer;
  background-repeat: no-repeat;
  background-image: url('./../../images/Input/Check4.png');
  background-size: rem(24px);
  padding: rem(10px);
  background-position: 0 center;
}

input[type='checkbox']:checked + label.cartCheckbox {
  background-repeat: no-repeat;
  background-image: url('./../../images/Input/Check5.png');
  background-size: rem(24px);
  padding: rem(10px);
  background-position: 0 center;
}

.karlyCart {
  @include containerMax;
  margin-bottom: rem(80px);
  //자간조절
  letter-spacing: rem(-0.5px);
}

h2 {
  @include font(black, 21.3px, 600, 150%);
  text-align: center;
  margin-top: rem(80px);
  margin-bottom: rem(50px);
}

.cart {
  @include flexbox($justify: flex-between);
  gap: rem(24px);

  &__left {
    width: rem(742px);
  }
  &__right {
    width: rem(284px);
  }
}

.cartSelectAll {
  height: rem(30px);

  @include font(#333, 16px, 600);
  @include marginY(16px);

  .cartButton {
    @include font(#333, 16px, 600);
    @include buttonNone;
  }
}
.cartCheckbox {
  @include font(#333, 16px, 600, 150%);
}
.cartChoice {
  padding-left: 20px;
}

// 펼치기 부분
.water,
.frozen,
.sun {
  border-top: 1px solid black;
  @include font(black, 16px, 600, 31px);

  &__continer {
    @include flexbox($justify: space-between);
    height: rem(62px);
    align-items: center;
  }
  button {
    width: rem(30px);
    height: rem(30px);
    background: url(./../../images/icon/Arrow-2.png) no-repeat;
    background-position: center;
  }
  .waterH {
    padding-left: rem(42px);
    background: url(./../../images/icon/food_water.png) no-repeat;
  }
  .frozenH {
    padding-left: rem(42px);
    background: url(./../../images/icon/food_frozen.png) no-repeat;
  }
  .sunH {
    padding-left: rem(42px);
    background: url(./../../images/icon/food_sun.png) no-repeat;
  }
  &__list {
    li {
      @include flexbox;
      @include paddingY(20px);
      gap: rem(8px);
      align-items: center;
      padding-left: rem(32px);
      background: url(./../../images/Input/Check5.png) no-repeat 0 center / rem(24px);
    }
  }

  .sun {
    &__continer {
      border-bottom: rem(1px) solid black;
    }
  }

  // 아래화살표 클릭시 아래로 내려가지는 부분
  .btnList {
    &__h {
      width: rem(345px);
    }
    &__won {
      width: rem(127px);
      text-align: right;
    }
    &__remove {
      background-image: url('./../../images/Icon/Minus.png');
    }
    &__add {
      background-image: url('./../../images/Icon/Plus.png');
    }
    &__cancel {
      background-image: url('./../../images/Icon/cancel.png');
    }

    .btnGroup {
      @include flexbox;
      border: rem(1px) solid #c4c4c4;
      gap: rem(8px);

      span {
        height: rem(30px);
      }
    }
  }
}

// 오른쪽 영역
.cartAddress {
  border: rem(1px) solid #e1e1e1;
  padding: rem(20px);
  h3 {
    @include font($weight: 600, $height: rem(36px));
    background-image: url(./../../images/Icon/Location.png);
    background-repeat: no-repeat;
    padding-left: rem(40px);
    margin-bottom: rem(12px);
  }
  address {
    margin-bottom: rem(12px);
    line-height: rem(24px);
  }
  span {
    @include font($weight: 600, $size: rem(12px));
    display: block;
    margin-bottom: rem(12px);
    color: $primary-color;
  }
  button {
    @include button(244px, 44px, $white, $primary-color);
  }
}

.cartPayment {
  height: rem(277px);
  border: rem(1px) solid #e1e1e1;
  background: #f9f9f9;
  padding: $spacing-md;
  @include font(#333, 16px, 400, 160%);

  dt {
    display: inline-block;
    width: rem(100px);
  }
  dt:nth-child(-n + 3) {
    padding-bottom: rem(16px);
  }
  dt:nth-of-type(3) {
    padding-bottom: rem(24px);
  }
  dd {
    text-align: center;
    float: right;
  }
  &__pay {
    padding-top: rem(24px);
    border-top: rem(1px) solid #e1e1e1;
  }
}
.cartPayment__pay {
  span {
    @include font(white, 12px, 600);
    margin-top: rem(11px);
    display: inline-block;
    border-radius: rem(1px);
    padding: 0px rem(8px);
    background: #fa622f;
    margin-right: rem(8px);
  }

  dd:last-child {
    @include font(#333, 12px, 600);
  }
  dd:first-of-type {
    @include font(black, 28.4px, 700, 140%);
  }
}

.cartOrder {
  &__button {
    @include button(284px, 44px);
    margin: rem(16px) 0;
  }
  p {
    @include font(#898989, 12px, 600);
  }
}
