@use './../utils' as *;
@use './../base/' as *;

button {
  border: none;
  cursor: pointer;
}

// 메인배너
.main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainBanner {
  position: relative;
}

// 메인배너 슬라이드 넘버
.mainBanner span {
  position: absolute;
  width: 50px;
  height: 20px;
  padding: 0 12px;
  border-radius: 12px;
  background: rgba(64, 64, 64, 0.30);
  right: 30px;
  bottom: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
  color: #fff;
}

// 메인배너 화살표 버튼
.button {
  position: absolute;
  width: 62%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button button {
  width: 52px;
  height: 52px;
}

.button :nth-child(1) {
  background: url(/images/Icon/Arrow.png) no-repeat;
  float: left;
}

.button :nth-child(2) {
  background: url(/images/Icon/Arrow.png) no-repeat;
  transform : rotate(180deg);
  float: right;
}


// 상품 리스트
.todayProduct{
  margin-bottom: 60px;
}

.product {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 1050px;
}

.product img {
  width: 249px;
  height: 320px;
  margin-right: 18px;
}

.product__list .imgg img {
  margin: 0;
}

div.imgg button {
  right: 16px;
}

.product__list {
  position: relative;
}

.product button {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(/images/Icon/Cart.png) no-repeat;
  display: block;
  top: 258px;
  right: 34px;
}

// 상품 오른쪽 슬라이드 버튼

.product .btn-arrow-right {
  background: url(/images/Icon/arrow3.svg) no-repeat;
  width: 50px;
  height: 50px;
  top: 125px;
  right: -25px;
  border-radius: 25px;
  box-shadow: 1px 0px 4px rgba(1,0,1,0.2);
}


// 상품 텍스트
.product__title {
  font-size: rem(28px);
  font-weight: 600;
  text-align: center;
  padding: 50px 0 80px 0px;
}

.product dt {
  font-size: 16px;
  font-weight: 400;
  margin-top: 16px;
  margin-bottom: 8px;
}

.product dl {
  font-size: 22px;
  font-weight: 600;
  margin-bottom: 24px;
}

.product dd {
  line-height: 150%;
}

.product strong {
  color: #FA622F;
}

.txt-underline {
  margin-top: 8px;
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  text-decoration: line-through;
}

// 라인 배너
.lineBanner {
  margin-bottom: 40px;
}