@use './../utils' as *;
@use './../base/' as *;

// 메인배너
.main {
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.mainBanner {
  position: relative;
}

.product__title {
  font-size: rem(28px);
  font-weight: 600;
  text-align: center;
  padding: 30px;
}

// 메인배너 슬라이드 넘버
.mainBanner span {
  position: absolute;
  width: 50px;
  height: 20px;
  padding: 0 12px;
  border-radius: 12px;
  background: rgba(64, 64, 64, 0.30);
  right: 30px;
  bottom: 30px;
  font-size: 14px;
  text-align: center;
  line-height: 150%;
  color: #fff;
}

// 메인배너 화살표 버튼
.button {
  position: absolute;
  width: 62%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.button button {
  width: 52px;
  height: 52px;
  border: none;
  cursor: pointer;
}

.button :nth-child(1) {
  background: url(/images/Icon/Arrow.png) no-repeat;
  float: left;
}

.button :nth-child(2) {
  background: url(/images/Icon/Arrow.png) no-repeat;
  transform : rotate(180deg);
  float: right;
}


// 상품 리스트
.product {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
}

.product__list {
  float: left;
}

.product__list img{
  width: 60%;
}