@use './../utils' as *;
@use './../components' as *;

//input 기본 텍스트값
body input {
  font-size: rem(16px);
  color: #898989;
}

//input 믹스인 적용
input.userID__input,
.userPw__input,
.userEmail__input,
.userName__input,
.userTel__input,
.userDate__input {
  @include input($w: 333px, $h: 44px);
}

//date input 커스텀
input[type="date"] {
  content: attr(data-placeholder);
  color: #898989;
  font-size: rem(16px);
  text-align: center;
}

//date input 달력 아이콘 커스텀
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

//라디오 버튼 커스텀
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid #c4c4c4;
  border-radius: 50%;
  width: rem(24px);
  height: rem(24px);
}

[type="radio"]:checked {
  border: 0.45rem solid #5f0080;
}

//button 믹스인 적용
.buttonJoin {
  @include button($w: 143px, $h: 44px, $bgColor: white, $color: $primary-color);
}

.btnAdd__search {
  @include button($w: 333px, $h: 44px, $bgColor: white, $color: $primary-color);
}

//main 영역
.joinBody {
  width: 100%;
}

//article 전체 넓이
.joinForm {
  position: relative;
  width: rem(640px);
  @include autoMargin;
}

//button 가입하기
.btnJoin {
  @include button;
  position: absolute;
  top: rem(700px);
}

//회원가입 타이틀
.titleWrap {
  height: rem(80px);
}

.joinTitle {
  margin-top: rem(80px);
}

//*sup 컬러 및 폰트 사이즈 지정
.joinForm sup {
  color: orangered;
  font-size: rem(12px);
}

.join__noti {
  font-size: rem(12px);
  float: right;
}

.join__span {
  font-size: rem(12px);
}

//라디오 버튼 오른쪽 마진
.joinForm p {
  margin-right: rem(16px);
}

//li 정렬
.joinFieldset {
  width: 100%;
  border-top: rem(2px) solid #333;
  border-bottom: 1px solid #333;
  top: rem(58px);
  margin-top: 8px;
}

.joinFieldset li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: rem(8px);
  margin: rem(25px) rem(8px);
  height: rem(44px);
}

.joinFieldset li:nth-child(7) {
  margin-top: rem(34px);
}

.joinFieldset li:nth-child(8) {
  margin-top: rem(34px);
}

//주소 검색 세로 정렬
.btnAdd {
  display: flex;
  flex-direction: column;
  gap: rem(6px);
}

//라벨 넓이 값 지정
.joinFieldset label {
  width: rem(131px);
  font-weight: 600;
}


//------------------------------이용 약관 동의-------------------------------------
// .joinCheck {
//   display: none;
// }

// .btnJoin {
//   left: 50%;
//   transform: translate(-50%);
//   display: none;
// }
.forBlock {
  display: flex;
  flex-flow: row nowrap;

  width: 640px;

  margin-left: auto;
  margin-right: auto;

  // width : 1050px;
  // border-top : 1px $black solid;
}

.agree {
  width: 139px;
  @include paddingX(4px);
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.agreement {
  display: flex;
  flex-flow: column nowrap;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 640px;
  margin-left: auto;
  margin-right: auto;

  &__word {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    width: 131px;
    padding-right: 8px;
  }
  &__star {
    color: red;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;

    @include paddingY(12px);
    // padding-left : 7px;
    width: 429px;

    &__inside {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  &__all {
    font-size: 21.3px;
    font-weight: 600;
    line-height: 150%;
    &__list {
      display: flex;
      flex-flow: row nowrap;

      width: 429px;
    }
    &__check {
      width: 28px;
      height: 28px;

      margin-right: 8px;
      background-image: url('./../../images/Input/Check.png');

      background-position: -7px -7px;
      background-repeat: no-repeat;
    }
    &__check:active {
      background-position: -7px -38px;
    }
  }
  &__notice {
    color: #898989;
    font-size: 12px;
    line-height: 160%;
    padding-left: 45px;
  }

  &__check {
    display: flex;
    flex-flow: row nowrap;

    margin-left: 7px;
    margin-right: 8px;
    width: 28px;
    height: 28px;

    background-image: url('./../../images/Input/Check.png');
    background-position: -7px -7px;
    background-repeat: no-repeat;
  }
  &__check:checked {
    background-position: -7px -38px;
  }

  &__select {
    font-size: 16px;
    line-height: 160%;

    // width : 80%;
    // padding-right : 0;
    // margin-right : 10%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__detail {
    font-size: 12px;
    line-height: 160%;
    color: $primary-color;

    height: 100%;
    width: 60px;
    padding-left: 4px;
    padding-right: 4px;

    flex-grow: 1;
    text-align: right;
    flex-shrink: 0;
  }
}

#agreement__check__for {
  display: none;
}
#agreement__check__id {
  background-image: url('./../../images/Input/Check.png');
  margin-left: 7px;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // background-color: yellow;
}
#agreement__check__for:checked ~ #agreement__check__id {
  // background-position: -7px -38px;
  background-color: yellow;
}

label.radio {
  background-image: url('./../../images/Input/Check.png');
  background-size: 40px;
  margin-left: 7px;
  margin-right: 8px;
  // width : 28px;
  // height: 280px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // padding-left : 8px;
}

#agreement__check__for {
  display: none;
}

#agreement__check__id {
  background-image: url("./../../images/Input/Check.png");
  margin-left: 7px;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  background-position: -7px -7px;
  background-repeat: no-repeat;
#agreement__check__id {
  background-image: url('./../../images/Input/Check.png');
  margin-left: 7px;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // background-color: yellow;
}

#agreement__check__for:checked~#agreement__check__id {
  // background-position: -7px -38px;
  background-color: yellow;
}


label.radio {
  background-image: url("./../../images/Input/Check.png");
  background-size: 40px;
  margin-left: 7px;
  margin-right: 8px;
  // width : 28px;
  // height: 280px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // padding-left : 8px;


}

// input{
//     position : absolute;
// }
// input[type="checkbox"]:checked + label{
//     background-position: -7px -38px;
// }

body input {
  font-size: 16px;
  color: #898989;
}

//input 믹스인 적용

// .forBlock{
//     display : block;
// }
}