@use './../utils' as *;
@use './../components' as *;

input.userID__input,
.userPw__input,
.userEmail__input,
.userName__input,
.userTel__input,
.userTime__input {
  @include input($w: 333px, $h: 44px);
}

//button 믹스인 적용
.buttonJoin {
  @include button($w: 143px, $h: 44px, $bgColor: white, $color: $primary-color);
}

.btnAdd__search {
  @include button($w: 333px, $h: 44px, $bgColor: white, $color: $primary-color);
}

//button 가입하기
.btnJoin {
  @include button;
  position: absolute;
  top: 700px;
}

.titleWrap {
  height: 80px;
  background-color: beige;
}

.joinForm {
  position: relative;
  width: 640px;
  margin: 0 auto;
}

.joinForm .title {
  margin-top: 80px;
}

//*sup 컬러 및 폰트 사이즈 지정
.joinForm sup {
  color: orangered;
  font-size: 12px;
}

.joinForm span {
  font-size: 12px;
}

.joinForm p {
  margin-right: 16px;
}

//*필수입력사항, 배송지에 따라 상품 정보가 달라질 수 있습니다.
.joinForm .noti {
  float: right;
}

.joinBody {
  width: 100%;
}

.joinFieldset {
  width: 100%;
  border-top: 2px solid #333;
  border-bottom: 1px solid #333;
  //   position: absolute;
  top: 58px;
}

.joinFieldset li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: 8px;
  margin: 25px 8px;
  height: 44px;
}

.joinFieldset li:nth-child(7) {
  margin-top: 34px;
}

.joinFieldset li:nth-child(8) {
  margin-top: 34px;
}

.btnAdd {
  display: flex;
  flex-direction: column;
  gap: 6px;
}

//라벨 넓이 값 지정
.joinFieldset label {
  width: 131px;
}

//라디오 버튼 커스텀
[type='radio'] {
  vertical-align: middle;
  appearance: none;
  border: max(1px, 0.1em) solid #c4c4c4;
  border-radius: 50%;
  width: 1.25em;
  height: 1.25em;
}

[type='radio']:checked {
  border: 0.4em solid #5f0080;
}

//date input 커스텀
input[type='date'] {
  content: attr(data-placeholder);
  color: #898989;
  font-size: 16px;
  text-align: center;
}

input[type='date']::before {
  content: attr(data-placeholder);
  color: #333;
  font-size: 16px;
}

//date input 달력 아이콘 커스텀
input[type='date']::-webkit-inner-spin-button,
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}

//------------------------------이용 약관 동의-------------------------------------
// .joinCheck {
//   display: none;
// }

// .btnJoin {
//   left: 50%;
//   transform: translate(-50%);
//   display: none;
// }
.forBlock {
  display: flex;
  flex-flow: row nowrap;

  width: 640px;

  margin-left: auto;
  margin-right: auto;

  // width : 1050px;
  // border-top : 1px $black solid;
}

.agree {
  width: 139px;
  @include paddingX(4px);
  padding-top: 20px;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
}

.agreement {
  display: flex;
  flex-flow: column nowrap;

  padding-top: 20px;
  padding-bottom: 20px;

  width: 640px;
  margin-left: auto;
  margin-right: auto;

  &__word {
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;

    width: 131px;
    padding-right: 8px;
  }
  &__star {
    color: red;
  }
  &__list {
    display: flex;
    flex-flow: row nowrap;
    justify-content: baseline;

    @include paddingY(12px);
    // padding-left : 7px;
    width: 429px;

    &__inside {
      width: 100%;
      display: flex;
      flex-flow: row nowrap;
      justify-content: space-between;
    }
  }
  &__all {
    font-size: 21.3px;
    font-weight: 600;
    line-height: 150%;
    &__list {
      display: flex;
      flex-flow: row nowrap;

      width: 429px;
    }
    &__check {
      width: 28px;
      height: 28px;

      margin-right: 8px;
      background-image: url('./../../images/Input/Check.png');

      background-position: -7px -7px;
      background-repeat: no-repeat;
    }
    &__check:active {
      background-position: -7px -38px;
    }
  }
  &__notice {
    color: #898989;
    font-size: 12px;
    line-height: 160%;
    padding-left: 45px;
  }

  &__check {
    display: flex;
    flex-flow: row nowrap;

    margin-left: 7px;
    margin-right: 8px;
    width: 28px;
    height: 28px;

    background-image: url('./../../images/Input/Check.png');
    background-position: -7px -7px;
    background-repeat: no-repeat;
  }
  &__check:checked {
    background-position: -7px -38px;
  }

  &__select {
    font-size: 16px;
    line-height: 160%;

    // width : 80%;
    // padding-right : 0;
    // margin-right : 10%;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &__detail {
    font-size: 12px;
    line-height: 160%;
    color: $primary-color;

    height: 100%;
    width: 60px;
    padding-left: 4px;
    padding-right: 4px;

    flex-grow: 1;
    text-align: right;
    flex-shrink: 0;
  }
}

#agreement__check__for {
  display: none;
}
#agreement__check__id {
  background-image: url('./../../images/Input/Check.png');
  margin-left: 7px;
  margin-right: 8px;
  width: 28px;
  height: 28px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // background-color: yellow;
}
#agreement__check__for:checked ~ #agreement__check__id {
  // background-position: -7px -38px;
  background-color: yellow;
}

label.radio {
  background-image: url('./../../images/Input/Check.png');
  background-size: 40px;
  margin-left: 7px;
  margin-right: 8px;
  // width : 28px;
  // height: 280px;
  background-position: -7px -7px;
  background-repeat: no-repeat;

  // padding-left : 8px;
}
// input{
//     position : absolute;
// }
// input[type="checkbox"]:checked + label{
//     background-position: -7px -38px;
// }

body input {
  font-size: 16px;
  color: #898989;
}

//input 믹스인 적용

// .forBlock{
//     display : block;
// }
