@use './../utils' as *;
@use './../components' as *;

//input 기본 텍스트값
body input{
  font-size: rem(16px);
  color: #898989;
}

//input 믹스인 적용
input.userID__input,
.userPw__input,
.userEmail__input,
.userName__input,
.userTel__input,
.userDate__input {
  @include input($w: 333px, $h: 44px);
}

//date input 커스텀
input[type="date"]{
  content: attr(data-placeholder);
  color: #898989;
  font-size: rem(16px);
  text-align: center;
}

input[type="date"]::before{
  content: attr(data-placeholder);
  color: #333;
  font-size: rem(16px);
}

//date input 달력 아이콘 커스텀
input[type="date"]::-webkit-inner-spin-button,
input[type="date"]::-webkit-calendar-picker-indicator {
  display: none;
}

//라디오 버튼 커스텀
[type="radio"] {
  vertical-align: middle;
  appearance: none;
  border: 1px solid #c4c4c4;
  border-radius: 50%;
  width: rem(24px);
  height: rem(24px);
}

[type="radio"]:checked {
  border: 0.45rem solid #5f0080;
}

//button 믹스인 적용
.buttonJoin {
  @include button($w: 143px, $h: 44px, $bgColor: white, $color: $primary-color);
}

.btnAdd__search {
  @include button($w: 333px, $h: 44px, $bgColor: white, $color: $primary-color);
}

//main 영역
.joinBody {
  width: 100%;
}

//article 전체 넓이
.joinForm {
  position: relative;
  width: rem(640px);
  @include autoMargin;
}

//회원가입 타이틀
.titleWrap {
  height: rem(80px);
}

.joinForm .title {
  margin-top: rem(80px);
}

//*sup 컬러 및 폰트 사이즈 지정
.joinForm sup {
  color: orangered;
  font-size: rem(12px);
}

.joinForm span {
  font-size: rem(12px);
}

//라디오 버튼 오른쪽 마진
.joinForm p {
  margin-right: rem(16px);
}

//span 태그 정렬 *필수 입력사항, 배송지에 따라 상품 정보가 달라질 수 있습니다.
.joinForm .noti {
  float: right;
}

//li 정렬
.joinFieldset {
  width: 100%;
  border-top: rem(2px) solid #333;
  border-bottom: 1px solid #333;
  position: absolute;
  top: rem(58px);
}

.joinFieldset li {
  position: relative;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  column-gap: rem(8px);
  margin: rem(25px) rem(8px);
  height: rem(44px);
}

.joinFieldset li:nth-child(7) {
  margin-top: rem(34px);
}

.joinFieldset li:nth-child(8) {
  margin-top: rem(34px);
}

//주소 검색 세로 정렬
.btnAdd {
  display: flex;
  flex-direction: column;
  gap: rem(6px);
}

//라벨 넓이 값 지정
.joinFieldset label {
  width: rem(131px);
}