@use './../utils' as *;
@use './../components' as *;

main {
  padding-bottom: rem(80px);
}

.login {
  font-size: rem(21.3px);
  color: black;
  text-align: center;
  margin-top: rem(80px);
}

.loginForm {
  margin-top: rem(44px);
  &__container {
    width: rem(340px);
    @include autoMargin;
  }
}

.userId,
.userPassword {
  &__input {
    @include input;
    margin-bottom: rem(12px);
  }
}

.userForgot {
  height: rem(19px);
  font-size: rem(12px);
  text-align: right;
  line-height: 150%;
}

.buttonLogin {
  @include button;
  margin-top: rem(28px);
  margin-bottom: rem(12px);
}
.button___Join {
  @include button($bgColor: white, $color: $primary-color);
  display: block;
  line-height: rem(54px);
}
