@use './../utils' as *;
@use "./../base/" as *;
@use "./../components/" as *;

.nav {
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
// 제품 리스트 전체
.productList {
  font-family: pretendard, sans-serif;
  @include containerMax;
}
.productContainer {
  @include flexbox;
  padding-bottom: rem(80px);
}

.best {
  color: $black;
  line-height: 150%;
  font-weight: 600;
  font-size: rem(22px);
  @include marginY(48px);
  text-align: center;
}

.productFilterContainer {
  width: rem(267px);
  height: rem(906px);
}

// 공통 toggle
.filterWrapper,
[class*="dropdownToggle__"] {
  width: rem(220px);
  height: rem(52px);
  border-bottom: 1px solid $light-gray;
  font-weight: 600;
  @include flexbox(row, space-between, stretch, nowrap);
  align-items: center;
}

.filter__number {
  color: $light-gray;
  line-height: 160%;
  font-size: rem(12px);
  padding-left: rem(4px);
}

// ^필터 div
.filterWrapper {
  @include flexbox(row, space-between, stretch, nowrap);
  align-items: center;
}
// ^필터 span
.filter__filter {
  color: $base-text;
  line-height: 150%;
}
// ^필터 초기화
.filter__reset {
  @include gray300_button;
  font-size: rem(10px);
}


// #카테고리
.categoryWrapper {
  @include flexbox(column, space-between, stretch, nowrap);
}

.dropdownToggle__category {
  border-bottom: none;
}

.filter__category {
  color: $base-text;
  line-height: 150%;
}

.dropdown__button {
  @include dropdownButton;
  @include bgImages;
}

.dropdown__category {
  width: rem(220px);
  height: rem(542px);
}
.dropdown__category__list {
  box-sizing: content-box;
  width: rem(220px);
  height: rem(26px);
  line-height: 160%;
  padding-top: rem(8px);
  padding-bottom: rem(16px);
  @include checkbox;
}
.check {
  width: 24px;
  height: 24px;
  margin-right: 4px;
}

.dropdown__category__list label img {
  vertical-align: middle;
}

.dropdown__category__list label span {
  vertical-align: middle;
}
.viewMore {
  @include gray300_button;
  display: block;
  width: rem(220px);
  height: rem(30px);
  text-align: center;
  padding-top: rem(6px);
  padding-bottom: rem(18px);
  font-size: rem(12px);
}


// 드롭다운



// !product
.product__sort {
  @include flexbox;
  justify-content: space-between;
  align-items: center;
  box-sizing: content-box;
  width: rem(783px);
  height: rem(24px);
  padding-bottom: rem(20px);

  .sort__total {
    font-weight: 600;
  }

  .sort__list {
    @include flexbox(row);
    color: $light-gray;
  }
  .sort__item {

    font-weight: 600;
  }
  .sort__item:first-child {
    color: $base-text;
  }
  .sort__item:last-child {
    margin-right: 0;
  }
  a {
    @include marginX(8px);
  }
}


// !제품이미지
.bestProduct {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  width: 1050px;
}


.best__list {
  width: rem(249px);
  height: rem(320px);
  margin-right: rem(18px);
}

.bestProductList {
  position: relative;
}

.bestProduct button {
  position: absolute;
  width: 45px;
  height: 45px;
  background: url(/images/Icon/Cart.png) no-repeat;
  display: block;
  top: 258px;
  right: 34px;
}

.product__list__info {
  @include flexbox(column);
  gap: 8px;
  margin-top: rem(16px);
  padding-bottom: rem(24px);
  color: $base-text;

  span {
    color: $gray;
    font-weight: 600;
    font-size: rem(12px);
    line-height: 150%;
  }
  dt {
    line-height: 160%;
  }
  dd:not([class]) {
    font-size: rem(12px);
  }
}
.best__product__price {
  font-size: rem(21.3px);
  font-weight: 600;
  list-style: 150%;

  strong {
    color: #FA622F;
    margin-right: rem(8px);
  }
}
.product__discount {
  font-size: 12px;
  color: #898989;
  font-weight: 400;
  text-decoration: line-through;
}

.badge__wrapper{
  display: flex;
  flex-wrap: wrap;
  gap: rem(8px);
}

[class*="__badge"] {
  display: flex;
  align-items: center;
  background: #E1E1E1;
  border-radius: 4px;
  padding: rem(4px);
  text-align: center;
  height: 18px;
}
span.karly__badge {
  color: $purple;
}
span.limit__badge {
  width: auto;
}

// 페이지네비
.pageNav {
  width: rem(783px);
  height: rem(70px);
}
.pageNum {
  @include flexbox(row, center);
  padding-top: rem(36px);
}

a[title*="페이지"] {
  display: block;
  @include padding(4px);
  border: 1px solid #E1E1E1;
  width: rem(34px);
  height: rem(34px);
}
a[title*="첫 페이지"] {
  @include bgImages;
  background-image: url(./../images/Icon/pageNav_first.png);
  background-size: 9px 7px;
  background-position: center;
}
a[title*="이전 페이지"] {
  @include bgImages;
  background-image: url(./../images/Icon/pageNav_pre.png);
  background-size: 5px 7px;
  background-position: center;
}
.page__number {
  background-size: 5px 7px;
  background-position: center;
  text-align: center;
  line-height: 150%;
  color: $base-text;
}
a[title*="다음 페이지"] {
  @include bgImages;
  background-image: url(./../images/Icon/pageNav_next.png);
  background-size: 5px 7px;
  background-position: center;
}
a[title*="마지막 페이지"] {
  @include bgImages;
  background-image: url(./../images/Icon/pageNav_last.png);
  background-size: 9px 7px;
  background-position: center;
}