<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <title>장바구니 - 칼리</title>
    <link rel="stylesheet" href="/style/index.css" />
  </head>
  <body>
    <!-- 장바구니 -->
    <section class="karlyCart">
      <h2>장바구니</h2>
      <div class="cart">
        <!-- 왼쪽 영역 -->
        <div class="cart__left">
          <div class="cartSelectAll">
            <input type="checkbox" id="cartCheckbox1" />
            <label for="cartCheckbox1" class="cartCheckbox"> <span class="cartChoice">전체선택 (3/3)</span></label>

            <span aria-hidden="true">ㅣ</span>
            <button type="submit" class="cartButton">선택삭제</button>
          </div>
          <!-- 냉장 식품 -->
          <div class="water">
            <div class="water__continer">
              <h4 class="waterH">냉장 식품</h4>
              <button></button>
            </div>
            <div class="water__list">
              <ul>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
              </ul>
            </div>
          </div>

          <!-- 냉동식품 -->
          <div class="frozen">
            <div class="frozen__continer">
              <h4 class="frozenH">냉동 식품</h4>
              <button></button>
            </div>
            <div class="frozen__list">
              <!-- <ul>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
              </ul> -->
            </div>
          </div>

          <!-- 상온식품 -->
          <div class="sun">
            <div class="sun__continer">
              <h4 class="sunH">상온 식품</h4>
              <button></button>
            </div>
            <div class="sun__list">
              <!-- <ul>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
                <li class="btnList">
                  <img src="./../images/cart.png" alt="" />
                  <span class="btnList__h">[풀무원] 탱탱쫄면 (4개입)</span>
                  <div class="btnGroup">
                    <button type="button" class="btnList__remove"></button>
                    <span>1</span>
                    <button type="button" class="btnList__add"></button>
                  </div>
                  <span class="btnList__won">4,980원</span>
                  <button type="button" class="btnList__cancel"></button>
                </li>
              </ul> -->
            </div>
          </div>

          <!-- <div class="cartForm__frozen">
              <h4 class="cartForm__h">냉장 식품</h4>
              <input type="checkbox" id="toggle" />
              <label for="toggle" class="foodLabel">
                <img src="./../images/Icon/Arrow2.png" alt="냉장식품 펼치기" class="foodImg" />
              </label>
              <div class="content">
                <fieldset>
                  <legend class="a11yHidden">냉장 식품 펼치기</legend>
                  <ul>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                  </ul>
                </fieldset>
              </div>
            </div> -->
          <!-- <div class="cartForm__sun">
              <h4 class="cartForm__h">냉장 식품</h4>
              <input type="checkbox" id="toggle" />
              <label for="toggle" class="foodLabel">
                <img src="./../images/Icon/Arrow2.png" alt="냉장식품 펼치기" class="foodImg" />
              </label>
              <div class="content">
                <fieldset>
                  <legend class="a11yHidden">냉장 식품 펼치기</legend>
                  <ul>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                    <li>[풀무원] 탱탱쫄면 (4개입)</li>
                  </ul>
                </fieldset>
              </div>
            </div> -->

          <div class="cartSelectAll">
            <label for="cartCheckbox2">
              <input type="checkbox" id="cartCheckbox2" />
              전체선택 (3/3)
            </label>
            <span aria-hidden="true">ㅣ</span>
            <button type="submit" class="cartButton">선택삭제</button>
          </div>
        </div>
        <!-- 오른쪽 영역 -->
        <div class="cart__right">
          <div class="cartAddress">
            <h3>배송지</h3>
            <address>서울 중랑구 면목로 42길 11 (행운빌딩) 603호</address>
            <span>샛별배송</span>
            <button type="submit" class="cartAddress__button">배송지 변경</button>
          </div>
          <dl class="cartPayment">
            <dt>상품금액</dt>
            <dd>40,680 원</dd>
            <dt>상품할인금액</dt>
            <dd>-4,651 원</dd>
            <dt>배송비</dt>
            <dd>+3,000 원</dd>

            <div class="cartPayment__pay">
              <dt>결제예정금액</dt>
              <dd>40,680 원</dd>
              <dd><span>적립</span> 최대 36원 적립 일반 0.1%</dd>
            </div>
          </dl>
          <div class="cartOrder">
            <button type="submit" class="cartOrder__button">주문하기</button>
            <p>쿠폰/적립금은 주문서에서 사용 가능합니다</p>
            <p>[주문완료] 상태일 경우에만 주문 취소 가능합니다.</p>
            <p>[마이컬리 &gt; 주문내역 상세페이지] 에서 직접 취소하실 수 있습니다.</p>
            <p>쿠폰, 적립금 사용 금액을 제외한 실 결제 금액 기준으로 최종 산정됩니다.</p>
            <p>상품별로 적립금 지급 기준이 다를 수 있습니다. (상품 상세 페이지에서 확인 가능합니다)</p>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
