<!DOCTYPE html>
<html lang="ko">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" as="style" crossorigin
    href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
  <title>회원가입</title>
  <link rel="stylesheet" href="./../style/index.css" />
</head>

<body>
  <main class="joinBody">
    <article class="joinForm">
      <form action="URL" method="POST">
        <div class="title">
          <h2 class="joinTitle">회원가입</h2>
          <span class="noti"><sup>*</sup>필수입력사항</span>
        </div>
        <fieldset>
          <legend class="a11yHidden">회원가입</legend>
          <ul class="joinFieldset">
            <li>
              <label for="아이디" aria-hidden="true">아이디<sup>*</sup></label>
              <input class="userID__input" id="userID__input" type="text" placeholder="아이디를 입력해주세요" />
              <button class="buttonJoin">중복확인</button>
            </li>
            <li>
              <label for="비밀번호" aria-hidden="true">비밀번호<sup>*</sup></label>
              <input class="userPw__input" id="userPw__input" type="password" placeholder="비밀번호를 입력해주세요" />
            </li>
            <li>
              <label for="비밀번호확인" aria-hidden="true">비밀번호 확인<sup>*</sup></label>
              <input class="userPw__input" id="userPwcheck__input" type="password" placeholder="비밀번호를 한번 더 입력해주세요" />
            </li>
            <li>
              <label for="이름" aria-hidden="true">이름<sup>*</sup></label>
                <input class="userName__input" id="userName__input" type="text" placeholder="이름을 한번 더 입력해주세요" />
            </li>
            <li>
              <label for="이메일" aria-hidden="true">이메일<sup>*</sup></label>
                <input class="userEmail__input" id="userEmail__input" type="email" placeholder="예) marketkarly@karly.com" />
              <button class="buttonJoin">중복확인</button>
            </li>
            <li>
              <label for="휴대폰" aria-hidden="true">휴대폰<sup>*</sup></label>
                <input class="userTel__input" id="userTel__input" type="tel" placeholder="숫자만 입력해주세요." />
              <button class="buttonJoin">인증번호 받기</button>
            </li>
            <li>
              <label for="주소" aria-hidden="true">주소<sup>*</sup></label>
              <div class="btnAdd">
                <button class="btnAdd__search">주소 검색</button>
                <span>배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
              </div>
            </li>
            <li>
              <label for="성별" aria-hidden="true">성별</label>
              <input class="radio__input" id="radio__input" type="radio" name="chk_info" value="남자">
              <p>남자</p>
              <input class="radio__input" id="radio__input" type="radio" name="chk_info" value="여자">
              <p>여자</p>
              <input class="radio__input" id="radio__input" type="radio" name="chk_info" value="선택안함">
              <p>선택안함</p>
            </li>
            <li>
              <label for="생년월일" aria-hidden="true">생년월일</label>
              <input class="userTime__input" id="userTime__input" type="date" value="2023-06-27" date-placeholder="YYYY / MM / DD" required/>
            </li>
            <li>
              <label for="추가입력 사항" aria-hidden="true">추가입력 사항</label>
              <input class="radio__input" id="radio__input_invite" type="radio" name="chk_info" value="친구초대 추천인 아이디">
              <p>친구초대 추천인 아이디</p>
              <input class="radio__input" id="radio__input_event" type="radio" name="chk_info" value="참여 이벤트명">
              <p>참여 이벤트명</p>
          </ul>
        </fieldset>

        <!-- 약관동의 마크업 -->
        <ul class="joinCheck">
          <li>
            <label for="이용약관동의">
              <input type="checkbox"  />전체 동의합니다
            </label>
            <p>선택항목에 동의하지 않은 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</p>
            <a class="joinArrow__right" href="">약관보기</a>
          </li>
          <li>
            <label for="이용약관동의">
              <input type="checkbox" />이용약관 동의 (필수)
            </label>
            <a class="joinArrow__right" href="">약관보기</a>
          </li>
          <li>
            <label for="이용약관동의">
              <input type="checkbox" />개인정보 수집 · 이용 동의 (필수)
            </label>
            <a class="joinArrow__right" href="">약관보기</a>
          </li>
          <li>
            <label for="이용약관동의">
              <input type="checkbox" />무료배송, 할인쿠폰 등 혜택/정보 수신 동의 (선택)
            </label>
            <a class="joinArrow__right" href="">약관보기</a>
          </li>
          <li>
            <label for="이용약관동의">
              <input type="checkbox" />본인은 만 14세 이상입니다. (필수)
            </label>
            <a class="joinArrow__right" href="">약관보기</a>
          </li>
        </ul>

        <button class="btnJoin">가입하기</button>

      </form>
    </article>
  </main>

  <!-- <label for="userId" class="a11yHidden">아이디</label>
    <input type="text" class="class="userId__input"" id="userId" name="userId" placeholder="아이디를 입력해주세요" required " />
    <label for="userPassword" class="a11yHidden">비밀번호</label>
    <input type="password" class="userPassword__input" id="userPassword" name="userPassword" placeholder="비밀번호를 입력해주세요" required " /> -->

</body>