<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <title>회원가입</title>
    <link rel="stylesheet" href="./../style/index.css" />
  </head>
  <body>

    <header>
      <div class="headerBox">
        <!-- 상단 우측 회원가입 | 로그인 | 고객센터 창 -->
        <!-- 1. 우측 상단 배치 / 2. a11yhidden속성 설정 및 글자 색깔 크기 설정 / 3. 링크 간단하게 연결 -->
        <ul class="ulType memberSystem">
          <li class="memberSystem__first">
            <a href="">회원가입　</a>
          </li>
          <li class="memberSystem__second"><span class="divider" aria-hidden="true">ㅣ</span><a href="login.html">　로그인　</a></li>
          <li class="memberSystem__third"><span class="divider" aria-hidden="true">ㅣ</span><span>　고객센터▼</span></li>
        </ul>

        <div class="headerBox__middle">
          <!-- 헤더부분 좌측 중앙  -->
          <!-- 1. 좌측 중앙 배치 / 2. 로고 넣기 / 3. 중앙선 a11yhiddne속성 부여 / 4. 글자 속성 변경-->
          <ul class="ulType logo">
            <li class="logo__image">
              <a href="./../index.html">
                <img src="./../images/Icon/Group.png" alt="" />
              </a>
            </li>
            <li class="logo__market">
              <span>마켓칼리</span>
            </li>
            <li class="logo__beauty"><span class="divider" aria-hidden="true">ㅣ</span><span>뷰티칼리</span></li>
          </ul>

          <fieldset class="searchForm">
            <legend class="a11yHidden">검색 폼</legend>
            <div class="searchForm__group">
              <div class="formInput">
                <label for="search" class="a11yHidden formInput__label">검색어</label>
                <input type="search" id="search" name="search" required class="formInput__input" placeholder="검색어를 입력하세요." />
                <button type="submit" class="button button__fillSecondary"></button>
              </div>
            </div>
          </fieldset>

          <!-- 헤더부분 우측중앙 이모티콘 3개 -->
          <!-- 1. 우측중앙 배치 / 2. 장바구니 이모티콘에 링크 부여  -->
          <ul class="ulType imoji">
            <li class="imoji__location"><img src="./../images/Icon/Location.png" alt="" /></li>
            <li class="iomji__heart"><img src="./../images/Icon/Heart.png" alt="" /></li>
            <li class="imoji__shopping">
              <a href="./cart.html">
                <img src="./../images/Icon/Cart-1.png" alt="" />
              </a>
            </li>
          </ul>
        </div>

        <!--  -->
      </div>
    </header>

    <!-- 네비게이션 부분 -->
    <!-- 전체적으로 left right automargins 해야될듯? -->
    <nav class="nav">
      <!-- 카테고리 -->
      <!-- 1. 좌측 배치 / 2. hover시 카테고리 뜨도록 / 3. 카테고리 내부 품목 hover 시 색깔 바뀌게
      4(선택). 시안에서는 hover->카테고리->unhover->안사라짐 인데 구현해야되나? -->
      <div class="category">
        <img src="./../images/Icon/Hamburger.png" alt="" class="category__image" />
        <span class="category__word">카테고리</span>
        <div class="categoryHover">
          <div class="menu__div">
            <div class="menu__icon present">
              <span class="menu__word">선물하기</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon vegetable">
              <span class="menu__word">채소</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon fruit">
              <span class="menu__word">과일ㆍ견과ㆍ쌀</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon fish">
              <span class="menu__word">수산ㆍ해산ㆍ건어물</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon meat">
              <span class="menu__word">정육ㆍ계란</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon soup">
              <span class="menu__word">국ㆍ반찬ㆍ메인요리</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon salad">
              <span class="menu__word">샐러드ㆍ간편식</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon noodle">
              <span class="menu__word">면ㆍ양념ㆍ오일</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon water">
              <span class="menu__word">생수ㆍ음료ㆍ우유ㆍ커피</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon snack">
              <span class="menu__word">간식ㆍ과자ㆍ떡</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon bread">
              <span class="menu__word">베이커리ㆍ치즈ㆍ델리</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon healthFood">
              <span class="menu__word">건강식품</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon wine">
              <span class="menu__word">와인</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon koreanAlcohol">
              <span class="menu__word">전통주</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon living">
              <span class="menu__word">생활용품ㆍ리빙ㆍ캠핑</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon skinCare">
              <span class="menu__word">스킨케어ㆍ메이크업</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon hair">
              <span class="menu__word">헤어ㆍ바디ㆍ구강</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon kitchen">
              <span class="menu__word">주방용품</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon homeApplience">
              <span class="menu__word">가전제품</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon pet">
              <span class="menu__word">반려동물</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon baby">
              <span class="menu__word">베이비ㆍ키즈ㆍ완구</span>
            </div>
          </div>
          <div class="menu__div">
            <div class="menu__icon travel">
              <span class="menu__word">여행ㆍ티켓</span>
            </div>
          </div>
        </div>
      </div>

      <!-- 네비게이션 중앙 바 -->
      <!-- 1. 중앙 배치 / 2. 글자 속성 / 3. 링크 설정 -->
      <div class="navCenter">
        <a href="" class="navCenter__new">신상품</a>
        <a href="" class="navCenter__best">베스트</a>
        <a href="" class="navCenter__hotdeal">알뜰쇼핑</a>
        <a href="" class="navCenter__special">특가/혜택</a>
      </div>

      <!-- 네비게이션 우측 박스 -->
      <!-- 1. 우측 배치 / 2. 글자 및 박스 속성 설정  -->
      <div class="morningDelivery">
        <span class="morningDelivery__first">샛별ㆍ낮&nbsp;</span>
        <span class="morningDelivery__second">배송안내</span>
      </div>
    </nav>




<body>
  <main class="joinBody">
    <article class="joinForm">
      <form action="URL" method="POST">
        <div class="title">
          <h2 class="joinTitle">회원가입</h2>
          <span class="noti"><sup>*</sup>필수입력사항</span>
        </div>
        <fieldset>
          <legend class="a11yHidden">회원가입</legend>
          <ul class="joinFieldset">
            <li>
              <label for="아이디" aria-hidden="true">아이디<sup>*</sup></label>
              <input class="userID__input" type="text" placeholder="아이디를 입력해주세요" />
              <button class="buttonJoin">중복확인</button>
            </li>
            <li>
              <label for="비밀번호" aria-hidden="true">비밀번호<sup>*</sup></label>
              <input class="userPw__input" type="password" placeholder="비밀번호를 입력해주세요" />
            </li>
            <li>
              <label for="비밀번호 확인" aria-hidden="true">비밀번호 확인<sup>*</sup></label>
              <input class="userPw__input" type="password" placeholder="비밀번호를 한번 더 입력해주세요" />
            </li>
            <li>
              <label for="이름" aria-hidden="true">이름<sup>*</sup></label>
                <input class="userName__input" type="text" placeholder="이름을 한번 더 입력해주세요" />
            </li>
            <li>
              <label for="이메일" aria-hidden="true">이메일<sup>*</sup></label>
                <input class="userEmail__input" type="email" placeholder="예) marketkarly@karly.com" />
              <button class="buttonJoin">중복확인</button>
            </li>
            <li>
              <label for="휴대폰" aria-hidden="true">휴대폰<sup>*</sup></label>
                <input class="userTel__input" type="tel" placeholder="숫자만 입력해주세요." />
              <button class="buttonJoin">인증번호 받기</button>
            </li>
            <li>
              <label for="주소" aria-hidden="true">주소<sup>*</sup></label>
              <div class="btnAdd">
                <button class="btnAdd__search">주소 검색</button>
                <span>배송지에 따라 상품 정보가 달라질 수 있습니다.</span>
              </div>
            </li>
            <li>
              <label for="성별" aria-hidden="true">성별</label>
              <input class="radio__input" type="radio" name="chk_info" value="남자">
              <p>남자</p>
              <input class="radio__input" type="radio" name="chk_info" value="여자">
              <p>여자</p>
              <input class="radio__input" type="radio" name="chk_info" value="선택안함">
              <p>선택안함</p>
            </li>
            <li>
              <label for="생년월일" aria-hidden="true">생년월일</label>
              <input class="userTime__input" type="date" value="2023-06-27" date-placeholder="YYYY / MM / DD" required/>
            </li>
            <li>
              <label for="추가입력 사항" aria-hidden="true">추가입력 사항</label>
              <input class="radio__input" type="radio" name="chk_info" value="친구초대 추천인 아이디">
              <p>친구초대 추천인 아이디</p>
              <input class="radio__input" type="radio" name="chk_info" value="참여 이벤트명">
              <p>참여 이벤트명</p>
          </ul>
        </fieldset>
      </form>
    </article>

    <div class="forBlock">

      <span class="agree">
        이용약관동의
      </span>


      <ul class="agreement">
          
        <!-- <div class="agreement__list_every">
          <input id="all" type="checkbox" name="all" value="all"/>
          <label for="all" class="radio">　　</label>

          
        </div> -->
        
        <li class="agreement__all__list">
          <sup class="agreement__star">*</sup>
          <div class="agreement__all__check"></div>
          <span class="agreement__all">전체 동의합니다.</span>
        </li>
        <span class="agreement__notice">선택항목에 동의하지 않는 경우도 회원가입 및 일반적인 서비스를 이용할 수 있습니다.</span>

        <div class="agreement__list">
          <input id="2yong" type="checkbox" name="2yong" value="2yong"/>
          <label for="2yong" class="radio">　　</label>

          <li class="agreement__list__inside">            
            <span class="agreement__select1 agreement__select">이용약관 동의 (필수)</span>
            <a href=""><span class="agreement__detail">약관보기 &gt;</span></a>
          </li>
        </div>


        <div class="agreement__list">
          <input id="2yong1" type="checkbox" name="2yong1" value="2yong1"/>
          <label for="2yong1" class="radio">　　</label>

          <li class="agreement__list__inside"> 
            <span class="agreement__select2 agreement__select">개인정보 수집·이용 동의 (필수)</span>
            <a href=""><span class="agreement__detail">약관보기 &gt;</span></a>
          </li>
        </div>


        <div class="agreement__list">
          <input id="2yong2" type="checkbox" name="2yong2" value="2yong2"/>
          <label for="2yong2" class="radio">　　</label>

          <li class="agreement__list__inside"> 
            <span class="agreement__select3 agreement__select">무료배송, 할인쿠폰 등 혜택/정보 수신 동의 (선택)</span>
            <a href=""><span class="agreement__detail">약관보기 &gt;</span></a>
          </li>
        </div>


        <div class="agreement__list">
          <input id="2yong3" type="checkbox" name="2yong3" value="2yong3"/>
          <label for="2yong3" class="radio">　　</label>

          <li class="agreement__list__inside"> 
            <span class="agreement__select4 agreement__select">본인은 만 14세 이상입니다. (필수)</span>
            <a href=""><span class="agreement__detail">약관보기 &gt;</span></a>
          </li>
        </div>

      </ul>

    </div>



  </main>

        
  

    
    
    <!-- <label for="userId" class="a11yHidden">아이디</label>
    <input type="text" class="userId__input" id="userId" name="userId" placeholder="아이디를 입력해주세요" required " />
    <label for="userPassword" class="a11yHidden">비밀번호</label>
    <input type="password" class="userPassword__input" id="userPassword" name="userPassword" placeholder="비밀번호를 입력해주세요" required " /> -->

    <footer class="footer">
      <!-- 고객센터 + 칼리info -->
      <div class="footerTop">
        <!-- 고객행복센터 -->
        <div class="customerCenter">
          <h3 class="customerCenter__title">고객행복센터</h3>
          <strong class="customerCenter__number">1644-1107<span class="customerCenter__time">월~토요일 오전 7시 - 오후 6시</span></strong>
          <div class="customerCenter__kakao">
            <a href="" class="kakao__link">카카오톡 문의</a>
            <ul class="kakaoInfo">
              <li class="kakao__mon_sat">월~토요일<span aria-hidden="true">|</span>오전 7시 - 오후 6시</li>
              <li class="kakao__sun_holiday">일/공휴일<span aria-hidden="true">|</span>오전 7시 - 오후 1시</li>
            </ul>
          </div>
          <div class="customerCenter__ask">
            <a href="" class="ask__link">1:1 문의</a>
            <ul class="askInfo">
              <li class="ask__day">365일</li>
              <li class="ask__answer">고객센터 운영시간에 순차적으로 답변드리겠습니다.</li>
            </ul>
          </div>
          <div class="customerCenter__order">
            <a href="" class="order__link">대량주문 문의</a>
            <ul class="orderInfo">
              <li class="order__mon_fri">월~금요일<span aria-hidden="true">|</span>오전 9시 - 오후 6시</li>
              <li class="orer__lunch">점심시간<span aria-hidden="true">|</span>낮 12시 - 오후 1시</li>
            </ul>
          </div>
          <dl class="nonMember">
            <dt class="nonMember__ask">비회원 문의 :</dt>
            <dd class="nonMember__askmail">help@karlycorp.com</dd>
            <dt class="nonMember__order">비회원 대량주문 문의 :</dt>
            <dd class="nonMember__ordermail">help@karlycorp.com</dd>
          </dl>
        </div>
        <!-- 칼리 info -->
        <div class="karlyInfo">
          <ul class="infoMenu">
            <li class="infoMenu__intro">칼리소개</li>
            <li class="infoMenu__video">칼리소개영상</li>
            <li class="infoMenu__recruit">인재채용</li>
            <li class="infoMenu__terms">이용약관</li>
            <li class="infoMenu__privacy">개인정보처리방침</li>
            <li class="infoMenu__guide">이용안내</li>
          </ul>
          <div class="karlyCompany">
            <p>법인명 (상호) : 주식회사 컬리<span aria-hidden="true">|</span>사업자등록번호 : 261-81-23567<span aria-hidden="true">|</span><span class="company__highlight">사업자정보 확인</span></p>
            <p>통신판매업 : 제 2018-서울강남-01646 호<span aria-hidden="true">|</span>개인정보보호책임자 : 이원준</p>
            <address class="karly__address">주소 : 서울특별시 강남구 테헤란로 133, 18층(역삼동)</address>
            <span aria-hidden="true">|</span>대표이사 : 김슬아
            <p>입점문의 : 입정문의하기<span aria-hidden="true">|</span>제휴문의 : <span class="company__highlight">business@karlycorp.com</span></p>
            <p>채용문의 : <span class="company__highlight">recruit@karlycorp.com</span></p>
            <p>팩스 : 070 - 7500 - 6098</p>
          </div>
          <ul class="SNS">
            <li class="SNS__naver_b"><a href="/" class="a11yHidden">naver blog</a></li>
            <li class="SNS__fb"><a href="/" class="a11yHidden">facebook</a></li>
            <li class="SNS__ig"><a href="/" class="a11yHidden">instagram</a></li>
            <li class="SNS__naver_p"><a href="/" class="a11yHidden">naver post</a></li>
            <li class="SNS__youtube"><a href="/" class="a11yHidden">youtube</a></li>
          </ul>
        </div>
      </div>
      <!-- 인증범위 -->
      <div class="karlyCertify">
        <div class="karlyCertify__isms">
          <img src="./../images/Icon/logo_isms.png" alt="ISMS Icon" class="isms__icon" />
          <p class="isms__about">[인증범위] 마켓칼리 쇼핑몰 서비스 개발 운영(심사받지 않은 물리적 인프라 제외) [유효기간] 2022.01.19 ~ 2025.01.18</p>
        </div>
        <div class="karlyCertify__privacy">
          <img src="./../images/Icon/logo_privacy.png" alt="privacy Icon" class="privacy__icon" />
          <p class="privacy__about">개인정보보호 우수 웹사이트 개인정보처리시스템 인증 (ePRIVACY PLUS)</p>
        </div>
        <div class="karlyCertify__toss">
          <img src="./../images/Icon/logo_tosspayments.png" alt="toss Icon" class="toss__icon" />
          <p class="toss__about">토스페이먼츠 구매안전(에스크로) 서비스를 이용하실 수 있습니다.</p>
        </div>
        <div class="karlyCertify__wooriBank">
          <img src="./../images/Icon/logo_wooriBank.png" alt="wooriBank Icon" class="wooriBank__icon" />
          <p class="wooriBank__about">고객님이 현금으로 결제한 금액에 대해 우리은행과 채무지급보증 계약을 체결하여 안전거래를 보장하고 있습니다.</p>
        </div>
      </div>
      <!-- karly copyright -->
      <div class="karlyCopyright">
        <p class="karlyCopyright__about">
          마켓컬리에서 판매되는 상품 중에는 마켓컬리에 입점한 개별 판매자가 판매하는 마켓플레이스(오픈마켓) 상품이 포함되어 있습니다. <br />
          마켓플레이스(오픈마켓) 상품의 경우 컬리는 통신판매중개자로서 통신판매의 당사자가 아닙니다. 컬리는 해당 상품의 주문, 품질, 교환/환불 등 의무와 책임을 부담하지 않습니다.
        </p>
        <p class="karlyCopyright__corp">© KURLY CORP. ALL RIGHTS RESERVED</p>
      </div>
    </footer>

  </body>
