<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" as="style" crossorigin href="https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.7/dist/web/static/pretendard-dynamic-subset.css" />
    <title>로그인 - 칼리</title>
    <link rel="stylesheet" href="./../style/index.css" />
  </head>

  <body>
    <div class="headerBox">
      <!-- 상단 우측 회원가입 | 로그인 | 고객센터 창 -->
      <!-- 1. 우측 상단 배치 / 2. a11yhidden속성 설정 및 글자 색깔 크기 설정 / 3. 링크 간단하게 연결 -->
      <ul class="ulType memberSystem">
        <li class="memberSystem__first">
          <a href="">회원가입　</a>
        </li>
        <li class="memberSystem__second"><span class="divider" aria-hidden="true">ㅣ</span><a href="login.html">　로그인　</a></li>
        <li class="memberSystem__third"><span class="divider" aria-hidden="true">ㅣ</span><span>　고객센터▼</span></li>
      </ul>
      
      <div class="headerBox__middle">
        <!-- 헤더부분 좌측 중앙  -->
        <!-- 1. 좌측 중앙 배치 / 2. 로고 넣기 / 3. 중앙선 a11yhiddne속성 부여 / 4. 글자 속성 변경-->
        <ul class="ulType logo">
          <li class="logo__image">
            <img src="./../images/Icon/Group.png" alt="" />
          </li>
          <li class="logo__market">
            <span>마켓칼리</span>
          </li>
          <li class="logo__beauty">
            <span class="divider" aria-hidden="true">ㅣ</span><span>뷰티칼리</span>
          </li>
        </ul>

        
        <fieldset class="searchForm">
          <legend class="a11yHidden">검색 폼</legend>
          <div class="searchForm__group">
            <div class="formInput">
              <label for="search" class="a11yHidden formInput__label">검색어</label>
              <input type="search" id="search" name="search" required
                class="formInput__input" placeholder="검색어를 입력하세요." />
              <button type="submit" class="button button__fillSecondary"></button>
            </div>
            
          </div>
        </fieldset>


        <!-- 헤더부분 우측중앙 이모티콘 3개 -->
        <!-- 1. 우측중앙 배치 / 2. 장바구니 이모티콘에 링크 부여  -->
        <ul class="ulType imoji">
          <li class="imoji__location"><img src="./../images/Icon/Location.png" alt="" /></li>
          <li class="iomji__heart"><img src="./../images/Icon/Heart.png" alt="" /></li>
          <li class="imoji__shopping">
            <a href="./../views/cart.html">
              <img src="./../images/Icon/Cart-1.png" alt="" />
            </a>
          </li>
        </ul>
      </div>
      
      <!--  -->
      

    </div>

      
  </header>

  <!-- 네비게이션 부분 -->
  <!-- 전체적으로 left right automargins 해야될듯? -->
  <nav class="nav">
    <!-- 카테고리 -->
    <!-- 1. 좌측 배치 / 2. hover시 카테고리 뜨도록 / 3. 카테고리 내부 품목 hover 시 색깔 바뀌게
      4(선택). 시안에서는 hover->카테고리->unhover->안사라짐 인데 구현해야되나? -->
    <div class="category">
      <img src="./../images/Icon/Hamburger.png" alt="" class="category__image"/>
      <span class="category__word">카테고리</span> 
      <div class="categoryHover">
        <div class="menu__div">
          <div class="menu__icon present">
            <span class="menu__word">선물하기</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon vegetable">
            <span class="menu__word">채소</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon fruit">
            <span class="menu__word">과일ㆍ견과ㆍ쌀</span>
         </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon fish">
            <span class="menu__word">수산ㆍ해산ㆍ건어물</span>
           </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon meat">
            <span class="menu__word">정육ㆍ계란</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon soup">
            <span class="menu__word">국ㆍ반찬ㆍ메인요리</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon salad">
            <span class="menu__word">샐러드ㆍ간편식</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon noodle">
            <span class="menu__word">면ㆍ양념ㆍ오일</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon water">
            <span class="menu__word">생수ㆍ음료ㆍ우유ㆍ커피</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon snack">
            <span class="menu__word">간식ㆍ과자ㆍ떡</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon bread">
            <span class="menu__word" >베이커리ㆍ치즈ㆍ델리</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon healthFood">
            <span class="menu__word">건강식품</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon wine">
            <span class="menu__word">와인</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon koreanAlcohol">
            <span class="menu__word">전통주</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon living">
            <span class="menu__word">생활용품ㆍ리빙ㆍ캠핑</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon skinCare">
            <span class="menu__word">스킨케어ㆍ메이크업</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon hair">
            <span class="menu__word">헤어ㆍ바디ㆍ구강</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon kitchen">
            <span class="menu__word">주방용품</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon homeApplience">
            <span class="menu__word">가전제품</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon pet">
            <span class="menu__word">반려동물</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon baby">
            <span class="menu__word">베이비ㆍ키즈ㆍ완구</span>
          </div>
        </div>
        <div class="menu__div">
          <div class="menu__icon travel">
            <span class="menu__word">여행ㆍ티켓</span>
          </div>
        </div>
        
      </div> 
    </div>

    <!--  -->
    <h2 class="login">로그인</h2>

    <form action="URL" class="loginForm" method="POST">
      <fieldset>
        <!-- legend 숨김처리 -->
        <legend class="a11yHidden">로그인 폼</legend>
        <div class="loginForm__container">
          <div class="userId">
            <label for="userId" class="a11yHidden">아이디</label>
            <input type="text" class="userId__input" id="userId" name="userId" placeholder="아이디를 입력해주세요" required " />
          </div>

          <div class="userPassword">
            <label for="userPassword" class="a11yHidden">비밀번호</label>
            <input type="password" class="userPassword__input" id="userPassword" name="userPassword" placeholder="비밀번호를 입력해주세요" required " />
          </div>

          <div class="userForgot">
            <a href="/">아이디 찾기</a>
            <span aria-hidden="true">ㅣ</span>
            <a href="/">비밀번호 찾기</a>
          </div>
          <button type="submit" class="buttonLogin">로그인</button>
          <button type="submit" class="buttonJoin">회원가입</button>
        </div>
      </fieldset>
    </form>
  </body>
</html>
