@use './../utils' as *;
@use "./../base/" as *;

// 푸터 전체
.footer {
  font-family: pretendard, sans-serif;
  border-top: 1px solid #E1E1E1;
  @include containerMax;
}

// 고객센터 + 칼리소개
.footerTop {
  @include gridbox(2, 1fr, 0, 16px);
  width: rem(1050px);
}

.customerCenter {
  position: relative;
}

// 고객행복센터
.customerCenter__title {
  font-size: rem(21.3px);
  font-weight: bold;
  color: $black;
  @include marginY(16px);
}
.customerCenter__number {
  font-size: rem(37.9px);
  font-weight: 700;
  color: $base-text;
  @include marginY(16px);
  @include flexbox;
  align-items: center;
  
  .customerCenter__time {
    font-size: rem(16px);
    font-weight: 600;
    @include marginX(8px);
    color: $base-text;
  }
}

// 카카오 문의
.customerCenter__kakao {
  @include flexbox;

  span {
    @include marginX(4px);
  }
}
.kakao__link {
  border: 1px solid #c4c4c4;
  @include padding(4px);
  width: rem(140px);
  height: rem(40px);
  text-align: center;
  align-self: center;
  line-height: 180%;
}
.kakaoInfo {
  margin-left: rem(16px);
  line-height: 160%;
}

// 1:1 문의
.customerCenter__ask {
  @include flexbox;
}
.ask__link {
  border: 1px solid #c4c4c4;
  @include padding(4px);
  width: rem(140px);
  height: rem(40px);
  text-align: center;
  align-self: center;
  line-height: 180%;
}
.askInfo {
  margin-left: rem(16px);
  line-height: 160%;
}

// 대량 주문
.customerCenter__order {
  @include flexbox;

  span {
    @include marginX(4px);
  }
}
.order__link {
  border: 1px solid #c4c4c4;
  @include padding(4px);
  width: rem(140px);
  height: rem(40px);
  text-align: center;
  align-self: center;
  line-height: 180%;
}
.orderInfo {
  margin-left: rem(16px);
  line-height: 160%;
}

// 비회원 문의
.nonMember {
  background: teal;
  @include flexbox;
  @include pos;
  bottom: 0;
  color: $base-text;
  font-size: rem(12px);
  
  dd {
    color: $purple;
  }

  
}
