/* // header.scss */
@use './../utils' as *;

// body{
//     background: $white;
//     z-index : 1;
// }

.topBar{
    background: $primary-color;
    // background: yellow;
    height : rem(50px);

    
    

    &__div{
        height : rem(42px);
        width : 1050px;
        // background: green;
        margin-left : auto;
        margin-right: auto;
        // margin-top : 0px;
        // margin-top : 4px;
        display : flex;
        flex-direction : row;
        align-items: center;

        justify-content: center;
        // text-align: center;
        
    }

    &__word{
        margin-top : 4px;
        color : $white;
    }

    &__X{
        color : $white;
        position : absolute;
        right : 100px;
        top : 8px;
    }
}

.memberSystem{
    // background: yellow;
    height : 31px;
    padding : 10px;
    padding-bottom : 35px;

    font-size : 12px;

    display : flex;
    flex-flow : row nowrap;
    justify-content: flex-end;

    &__first{
        color : $primary-color;
        font-weight: 600;
    }
}

.headerBox{
    width : 1050px;
    height : 105px;
    // background: yellow;
    margin-left : auto;
    margin-right : auto;
    padding-bottom : 20px;
    position: relative;
}
.headerBox__middle{
    width : 1050px;
    height: 42px;
    display : flex;
    flex-flow : row nowrap;
    justify-content :space-between;
}
.logo{
    display : flex;
    flex-flow : row nowrap;
    align-items : center;
    width : 267px;

    &__image{
        width : 82px;
        height: 42px;
    }

    &__market{
        font-size : 21.3px;
        padding-left : 12px; 
        color : $primary-color;
        font-weight: 700;
    }
    &__beauty{
        font-size : 21.3px;
    }
}



.imoji{
    display : flex;
    flex-flow : row nowrap;

    &__location{
        padding-right : 20px;
    }
    &__shopping{
        padding-left : 20px;
    }
}



.searchForm{
    width : 360px;
    @include autoMargin;
    // position : absolute;
    // top : 30px;
    // left : 330px;
    padding-right : 150px;
    z-index : 1;

    display : flex;
    flex-flow : row nowrap;

    

}
.formInput{
    position : relative;
}
.formInput .button__fillSecondary{

    
    background: url("./../../images/Icon/Search.png") no-repeat;
    width : 36px;
    height : 36px;
    border : none;

    margin-left : 40%;
    margin-right : auto;    
}

input[type=search]{
    width : 360px;
    height: 36px;
    @include paddingX(12px);
    @include paddingY(20px);
    border-radius: 5px;
    // border-color : $primary-color;
    border : 1px $primary-color solid;
    outline : none;

    
}


.nav{
    width : 1050px;
    padding-top : 16px;
    padding-bottom : 16px;
    height: 72px;

    @include autoMargin;

    display : flex;
    flex-flow : row nowrap;
    justify-content:space-between;
    align-items: center;

    
}

.category{
    position : relative;
    width : 84px;
    height: 24px;

    // background: yellowgreen;
    display : flex;
    flex-flow : row nowrap;
    align-items: center;

    &__image{
        padding-right : 12px;
    }
    &__word{
        font-weight: 600;
    }
}


.categoryHover{
    
    width : 247px;
    height: 880px;
    background: $white;

    display : flex;
    flex-flow : column;
    justify-content: space-evenly;

    font-size : 16px;
    font-weight: 600;
    line-height: 150%;

    
    position : absolute;
    top : -17px;
    // left : -250px;
    z-index : 1;
    visibility: hidden;
    @include marginY(40px);
}



// 빈공간에 적용안됨. 전체상자 적용되도록
// hover -> unhover 해도 계속 열려있음 이거 어떻게?
.category:hover > .categoryHover{
    // background: yellow;
    
    top : -17px;
    visibility :visible;

}

.menu__div:hover{
    background: rgba(0,0,0,0.2);
}

.menu__div{
    padding : 7.5px;
    // padding-left : 2px;
    border-bottom : 1px solid rgb(222, 222, 222);
}

.menu__icon{
    background: url(./../../images/Icon/MenuIcon.png) no-repeat;
    background-size: 26px;
    padding-right : 40px;

}

.menu__word{
    // padding : 20px;
    padding-left : 30px;
    
}

.present{
    background-position: 0px -1px;
}
.vegetable{
    background-position: 0px -197px;
}
.fruit{
    background-position: 0px -348.2px;
}
.fish{
    background-position: 0px -456px;
}
.meat{
    background-position: 0px -65px;
}
.soup{
    background-position: 0px -153px;
}
.salad{
    background-position: 0px -305px;
}
.noodle{
    background-position: 0px -217px;
}
.water{
    background-position: 0px -110.5px;
}
.snack{
    background-position: 0px -262px;
}
.bread{
    background-position: 0px -45.5px;
}
.healthFood{
    background-position: 0px -435px;
}
.wine{
    background-position: 0px -392px;
}
.koreanAlcohol{
    background-position: 0px -24.5px;
}
.living{
    background-position: 0px -86px;
}
.skinCare{
    background-position: 0px -130px;
}
.hair{
    background-position: 0px -370px;
}
.kitchen{
    background-position: 0px -175px;
}
.homeApplience{
    background-position: 0px -240px;
}
.pet{
    background-position: 0px -283px;
}
.baby{
    background-position: 0px -325px;
}
.travel{
    background-position: 0px -414px;
}

.navCenter{
    // z-index: -2;

    width : 600px;
    height: 40px;
    @include paddingY(8px);
    // background: salmon;
    display : flex;
    flex-flow : row nowrap;
    

    &__new{
        width : 150px;
        height : 24px;
        // background: red;
    }
    &__best{
        width : 150px;
        height : 24px;
        // background: orange;
    }
    &__hotdeal{
        width : 150px;
        height : 24px;
        // background: yellow;
    }
    &__special{
        width : 150px;
        height : 24px;
        // background: green;
    }
    text-align: center;
    font-size: 16px;
    line-height: 150%;
    font-weight: 600;
}


.morningDelivery{
    font-size: 12px;
    line-height: 160%;
    // background: skyblue;
    width : 95px;
    height: 27px;
    // @include paddingX(4px);
    @include paddingY(4px);
    border-radius: 16px;
    border : 1px solid #A3A3a3;
    padding : 0;

    display : flex;
    flex-flow : row nowrap;
    justify-content: center;
    align-items: center;

    &__first{
        color : $primary-color;
    }
}