/* Error: expected "{".
 *    ,
 * 17 | <<<<<<< HEAD
 *    |             ^
 *    '
 *   src/scss/base/_reset.scss 17:13  @forward
 *   src/scss/base/_index.scss 2:1    @use
 *   src/scss/index.scss 1:1          root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: expected "{".\a    \2577 \a 17 \2502  <<<<<<< HEAD\a    \2502              ^\a    \2575 \a   src/scss/base/_reset.scss 17:13  @forward\a   src/scss/base/_index.scss 2:1    @use\a   src/scss/index.scss 1:1          root stylesheet';
}
